<div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="uk-card uk-card-default uk-card-large uk-card-body">
    <div class="uk-card-header">
      <h3 class="uk-card-title">{{ project.name }}</h3>
    </div>
    <div class="uk-card-body">
      <h3>
        {{ project.description }}
      </h3>
      <h4>Start Date: {{ project.start_date }}</h4>
      <h4>End Date: {{ project.end_date }}</h4>
      <h4>Attachment: {{ project.attachment }}</h4>
    </div>
    <div class="uk-card-footer">
      <button class="uk-button uk-button-danger" (click)="deleteProject()">
        Delete
      </button>
    </div>
  </div>
</div>
