<div class="title">
  <h3>Invite Supervisor</h3>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="center">
  <ngx-loading [show]="loading"></ngx-loading>
  <form clrForm clrLayout="vertical" [formGroup]="inviteForm">
    <clr-input-container>
      <label>Title</label>
      <input clrInput type="text" name="example" formControlName="title" />
    </clr-input-container>
    <clr-input-container>
      <label>Full Name</label>
      <input clrInput type="text" name="example" formControlName="name" />
    </clr-input-container>
    <clr-input-container>
      <label>Occupation</label>
      <input clrInput type="text" name="example" formControlName="occupation" />
    </clr-input-container>
    <clr-input-container>
      <label>Email</label>
      <input clrInput type="email" name="example" formControlName="email" />
    </clr-input-container>
    <clr-input-container>
      <label>Phone</label>
      <input clrInput type="text" name="example" formControlName="phone" />
    </clr-input-container>

    <div fxLayout="row" fxLayoutAlign="center">
      <button class="btn btn-primary" (click)="inviteSup()">
        Invite Supervisor
      </button>
    </div>
  </form>
</div> -->

<div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
  <div [formGroup]="addForm" fxLayout="row">
    <div>
      <div class="uk-margin">
        <div uk-form-custom="target: > * > span:first-child">
          <select formControlName="sup">
            <option value="">Choose Supervisor</option>
            <option *ngFor="let sup of sups" [value]="sup.id">{{
              sup.username
            }}</option>
          </select>
          <button
            class="uk-button uk-button-default"
            type="button"
            tabindex="-1"
          >
            <span></span>
            <span uk-icon="icon: chevron-down"></span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-margin">
        <div uk-form-custom="target: > * > span:first-child">
          <select formControlName="project">
            <option value="">Choose Project</option>
            <option *ngFor="let project of projects" [value]="project.id">{{
              project.name
            }}</option>
          </select>
          <button
            class="uk-button uk-button-default"
            type="button"
            tabindex="-1"
          >
            <span></span>
            <span uk-icon="icon: chevron-down"></span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <button class="uk-button uk-button-primary" (click)="addSupervisor()">
        Add Supervisor
      </button>
    </div>
  </div>

  <!-- <form class="uk-grid-small" uk-grid [formGroup]="addForm">
    <div class="uk-width-1-2@s">
      <div class="uk-margin">
        <div uk-form-custom="target: > * > span:first-child">
          <select formControlName="sup">
            <option value="">Choose Supervisor</option>
            <option *ngFor="let sup of sups" [value]="sup.id">{{
              sup.username
            }}</option>
          </select>
          <button
            class="uk-button uk-button-default"
            type="button"
            tabindex="-1"
          >
            <span></span>
            <span uk-icon="icon: chevron-down"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <div class="uk-margin">
        <div uk-form-custom="target: > * > span:first-child">
          <select formControlName="project">
            <option value="">Choose Project</option>
            <option *ngFor="let project of projects" [value]="project.id">{{
              project.name
            }}</option>
          </select>
          <button
            class="uk-button uk-button-default"
            type="button"
            tabindex="-1"
          >
            <span></span>
            <span uk-icon="icon: chevron-down"></span>
          </button>
        </div>
      </div>
    </div>

    <button class="uk-button uk-button-primary" (click)="addSupervisor()">
      Add Supervisor
    </button>
  </form> -->
</div>

<hr class="uk-divider-icon" />
<div fxLayout="row">
  <form class="uk-grid-small" uk-grid>
    <h3>Invite New Supervisor</h3>
    <div class="uk-width-1-1">
      <label class="uk-form-label">Title</label>
      <input class="uk-input" type="text" placeholder="100" />
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label">Full Name</label>
      <input class="uk-input" type="text" placeholder="100" />
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label">Email</label>
      <input class="uk-input" type="text" placeholder="100" />
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label">Occupation</label>
      <input class="uk-input" type="text" placeholder="100" />
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label">Phone Number</label>
      <input class="uk-input" type="text" placeholder="100" />
    </div>
  </form>
</div>
