<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Lincoln Project</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button
          class="nav-text"
          clrDropdownTrigger
          aria-label="open user profile"
        >
          {{ email }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="header-nav" [clr-nav-level]="1"></div>
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed"
    >
      <a clrVerticalNavLink routerLink="./new" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="new"></clr-icon>
        Create Project</a
      >
      <a clrVerticalNavLink routerLink="./view" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="view-cards"></clr-icon>
        View My Projects</a
      >
      <a clrVerticalNavLink routerLink="./invite" routerLinkActive="active"
        ><clr-icon clrVerticalNavIcon shape="success-standard"></clr-icon>
        Invite A Supervisor</a
      >

      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="./profile" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        My Profile</a
      >
      <a clrVerticalNavLink (click)="logout()">
        <clr-icon clrVerticalNavIcon shape="logout"></clr-icon>
        Log Out</a
      >
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
