<div class="login-wrapper">
  <ngx-loading [show]="loading"></ngx-loading>
  <form class="login">
    <section class="title">
      <h3 class="welcome">Create Your</h3>
      Lincoln Project Account
    </section>
    <div class="login-group" [formGroup]="registerForm">
      <clr-select-container>
        <label class="clr-sr-only">User Role</label>
        <select clrSelect name="type" formControlName="role">
          <option *ngFor="let role of userRoles">{{ role.name }}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input
          type="text"
          name="username"
          clrInput
          placeholder="Username"
          formControlName="username"
        />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input
          type="email"
          name="email"
          clrInput
          placeholder="Email"
          formControlName="email"
        />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          formControlName="password"
        />
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">Confirm Password</label>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          formControlName="p_confirm"
        />
      </clr-password-container>

      <button class="btn btn-primary" (click)="createAccount()">
        REGISTER
      </button>
      <a class="signup" (click)="login()">Login to your Account</a>
    </div>
  </form>
</div>
