<div class="login-wrapper">
  <ngx-loading [show]="loading"></ngx-loading>
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Lincoln Project Hub Supervisor
      <h5 class="hint">Use your credentials to sign in</h5>
    </section>
    <div class="login-group" [formGroup]="loginForm">
      <clr-input-container>
        <label class="clr-sr-only">Email Address</label>
        <input
          type="email"
          name="username"
          clrInput
          placeholder="Email"
          formControlName="email"
        />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          formControlName="password"
        />
      </clr-password-container>

      <button class="btn btn-primary" (click)="login()">LOGIN</button>
      <a class="signup" (click)="register()">Create an Account</a>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="button">
      <button class="btn btn-primary">AMBASSADOR</button>
    </div>
  </form>
</div>
